[Unit]
Description=VAMPIRES Lens Focus Stage Daemon
PartOf=vampiresd.service
After=vampiresd.service

[Service]
Type=forking
# Pretend that the component is running
ExecStart=/usr/bin/env python -m vampires_control.daemons.focus_daemon
# Restart the service on non-zero exit code when terminated by a signal other than SIGHUP, SIGINT, SIGTERM or SIGPIPE
Restart=on-failure


[Install]
# This unit should start when app.service is starting
WantedBy=vampiresd.service
